body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
}

body h1 {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-family: 'Raleway Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 140px;
}

body h1:after, body h1:before {
  content: 'Glitch Effect';
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}

body h1:after {
  left: 2px;
  text-shadow: -1px 0 #ff1b1b;
  -webkit-animation: glitch1 2s infinite ease;
          animation: glitch1 2s infinite ease;
}

body h1:before {
  left: -2px;
  text-shadow: 1px 0 #2124ff;
  -webkit-animation: glitch2 10s infinite ease;
          animation: glitch2 10s infinite ease;
}

@-webkit-keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(4% 0 16% 0);
            clip-path: inset(4% 0 16% 0);
  }
  4% {
    -webkit-clip-path: inset(46% 0 29% 0);
            clip-path: inset(46% 0 29% 0);
  }
  8% {
    -webkit-clip-path: inset(61% 0 27% 0);
            clip-path: inset(61% 0 27% 0);
  }
  12% {
    -webkit-clip-path: inset(74% 0 16% 0);
            clip-path: inset(74% 0 16% 0);
  }
  16% {
    -webkit-clip-path: inset(12% 0 1% 0);
            clip-path: inset(12% 0 1% 0);
  }
  20% {
    -webkit-clip-path: inset(57% 0 38% 0);
            clip-path: inset(57% 0 38% 0);
  }
  24% {
    -webkit-clip-path: inset(6% 0 81% 0);
            clip-path: inset(6% 0 81% 0);
  }
  28% {
    -webkit-clip-path: inset(61% 0 9% 0);
            clip-path: inset(61% 0 9% 0);
  }
  32% {
    -webkit-clip-path: inset(68% 0 15% 0);
            clip-path: inset(68% 0 15% 0);
  }
  36% {
    -webkit-clip-path: inset(90% 0 9% 0);
            clip-path: inset(90% 0 9% 0);
  }
  40% {
    -webkit-clip-path: inset(70% 0 20% 0);
            clip-path: inset(70% 0 20% 0);
  }
  44% {
    -webkit-clip-path: inset(5% 0 66% 0);
            clip-path: inset(5% 0 66% 0);
  }
  48% {
    -webkit-clip-path: inset(38% 0 39% 0);
            clip-path: inset(38% 0 39% 0);
  }
  52% {
    -webkit-clip-path: inset(54% 0 31% 0);
            clip-path: inset(54% 0 31% 0);
  }
  56% {
    -webkit-clip-path: inset(75% 0 4% 0);
            clip-path: inset(75% 0 4% 0);
  }
  60% {
    -webkit-clip-path: inset(92% 0 8% 0);
            clip-path: inset(92% 0 8% 0);
  }
  64% {
    -webkit-clip-path: inset(11% 0 37% 0);
            clip-path: inset(11% 0 37% 0);
  }
  68% {
    -webkit-clip-path: inset(5% 0 78% 0);
            clip-path: inset(5% 0 78% 0);
  }
  72% {
    -webkit-clip-path: inset(62% 0 20% 0);
            clip-path: inset(62% 0 20% 0);
  }
  76% {
    -webkit-clip-path: inset(76% 0 11% 0);
            clip-path: inset(76% 0 11% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 8% 0);
            clip-path: inset(13% 0 8% 0);
  }
  84% {
    -webkit-clip-path: inset(86% 0 6% 0);
            clip-path: inset(86% 0 6% 0);
  }
  88% {
    -webkit-clip-path: inset(22% 0 10% 0);
            clip-path: inset(22% 0 10% 0);
  }
  92% {
    -webkit-clip-path: inset(3% 0 92% 0);
            clip-path: inset(3% 0 92% 0);
  }
  96% {
    -webkit-clip-path: inset(76% 0 21% 0);
            clip-path: inset(76% 0 21% 0);
  }
  100% {
    -webkit-clip-path: inset(83% 0 7% 0);
            clip-path: inset(83% 0 7% 0);
  }
}

@keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(4% 0 16% 0);
            clip-path: inset(4% 0 16% 0);
  }
  4% {
    -webkit-clip-path: inset(46% 0 29% 0);
            clip-path: inset(46% 0 29% 0);
  }
  8% {
    -webkit-clip-path: inset(61% 0 27% 0);
            clip-path: inset(61% 0 27% 0);
  }
  12% {
    -webkit-clip-path: inset(74% 0 16% 0);
            clip-path: inset(74% 0 16% 0);
  }
  16% {
    -webkit-clip-path: inset(12% 0 1% 0);
            clip-path: inset(12% 0 1% 0);
  }
  20% {
    -webkit-clip-path: inset(57% 0 38% 0);
            clip-path: inset(57% 0 38% 0);
  }
  24% {
    -webkit-clip-path: inset(6% 0 81% 0);
            clip-path: inset(6% 0 81% 0);
  }
  28% {
    -webkit-clip-path: inset(61% 0 9% 0);
            clip-path: inset(61% 0 9% 0);
  }
  32% {
    -webkit-clip-path: inset(68% 0 15% 0);
            clip-path: inset(68% 0 15% 0);
  }
  36% {
    -webkit-clip-path: inset(90% 0 9% 0);
            clip-path: inset(90% 0 9% 0);
  }
  40% {
    -webkit-clip-path: inset(70% 0 20% 0);
            clip-path: inset(70% 0 20% 0);
  }
  44% {
    -webkit-clip-path: inset(5% 0 66% 0);
            clip-path: inset(5% 0 66% 0);
  }
  48% {
    -webkit-clip-path: inset(38% 0 39% 0);
            clip-path: inset(38% 0 39% 0);
  }
  52% {
    -webkit-clip-path: inset(54% 0 31% 0);
            clip-path: inset(54% 0 31% 0);
  }
  56% {
    -webkit-clip-path: inset(75% 0 4% 0);
            clip-path: inset(75% 0 4% 0);
  }
  60% {
    -webkit-clip-path: inset(92% 0 8% 0);
            clip-path: inset(92% 0 8% 0);
  }
  64% {
    -webkit-clip-path: inset(11% 0 37% 0);
            clip-path: inset(11% 0 37% 0);
  }
  68% {
    -webkit-clip-path: inset(5% 0 78% 0);
            clip-path: inset(5% 0 78% 0);
  }
  72% {
    -webkit-clip-path: inset(62% 0 20% 0);
            clip-path: inset(62% 0 20% 0);
  }
  76% {
    -webkit-clip-path: inset(76% 0 11% 0);
            clip-path: inset(76% 0 11% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 8% 0);
            clip-path: inset(13% 0 8% 0);
  }
  84% {
    -webkit-clip-path: inset(86% 0 6% 0);
            clip-path: inset(86% 0 6% 0);
  }
  88% {
    -webkit-clip-path: inset(22% 0 10% 0);
            clip-path: inset(22% 0 10% 0);
  }
  92% {
    -webkit-clip-path: inset(3% 0 92% 0);
            clip-path: inset(3% 0 92% 0);
  }
  96% {
    -webkit-clip-path: inset(76% 0 21% 0);
            clip-path: inset(76% 0 21% 0);
  }
  100% {
    -webkit-clip-path: inset(83% 0 7% 0);
            clip-path: inset(83% 0 7% 0);
  }
}

@-webkit-keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(57% 0 34% 0);
            clip-path: inset(57% 0 34% 0);
  }
  4% {
    -webkit-clip-path: inset(32% 0 18% 0);
            clip-path: inset(32% 0 18% 0);
  }
  8% {
    -webkit-clip-path: inset(49% 0 1% 0);
            clip-path: inset(49% 0 1% 0);
  }
  12% {
    -webkit-clip-path: inset(49% 0 17% 0);
            clip-path: inset(49% 0 17% 0);
  }
  16% {
    -webkit-clip-path: inset(74% 0 18% 0);
            clip-path: inset(74% 0 18% 0);
  }
  20% {
    -webkit-clip-path: inset(61% 0 34% 0);
            clip-path: inset(61% 0 34% 0);
  }
  24% {
    -webkit-clip-path: inset(78% 0 3% 0);
            clip-path: inset(78% 0 3% 0);
  }
  28% {
    -webkit-clip-path: inset(61% 0 27% 0);
            clip-path: inset(61% 0 27% 0);
  }
  32% {
    -webkit-clip-path: inset(15% 0 26% 0);
            clip-path: inset(15% 0 26% 0);
  }
  36% {
    -webkit-clip-path: inset(78% 0 9% 0);
            clip-path: inset(78% 0 9% 0);
  }
  40% {
    -webkit-clip-path: inset(39% 0 27% 0);
            clip-path: inset(39% 0 27% 0);
  }
  44% {
    -webkit-clip-path: inset(85% 0 4% 0);
            clip-path: inset(85% 0 4% 0);
  }
  48% {
    -webkit-clip-path: inset(10% 0 22% 0);
            clip-path: inset(10% 0 22% 0);
  }
  52% {
    -webkit-clip-path: inset(60% 0 26% 0);
            clip-path: inset(60% 0 26% 0);
  }
  56% {
    -webkit-clip-path: inset(73% 0 26% 0);
            clip-path: inset(73% 0 26% 0);
  }
  60% {
    -webkit-clip-path: inset(1% 0 67% 0);
            clip-path: inset(1% 0 67% 0);
  }
  64% {
    -webkit-clip-path: inset(5% 0 6% 0);
            clip-path: inset(5% 0 6% 0);
  }
  68% {
    -webkit-clip-path: inset(41% 0 52% 0);
            clip-path: inset(41% 0 52% 0);
  }
  72% {
    -webkit-clip-path: inset(19% 0 64% 0);
            clip-path: inset(19% 0 64% 0);
  }
  76% {
    -webkit-clip-path: inset(28% 0 47% 0);
            clip-path: inset(28% 0 47% 0);
  }
  80% {
    -webkit-clip-path: inset(62% 0 28% 0);
            clip-path: inset(62% 0 28% 0);
  }
  84% {
    -webkit-clip-path: inset(67% 0 34% 0);
            clip-path: inset(67% 0 34% 0);
  }
  88% {
    -webkit-clip-path: inset(49% 0 43% 0);
            clip-path: inset(49% 0 43% 0);
  }
  92% {
    -webkit-clip-path: inset(84% 0 12% 0);
            clip-path: inset(84% 0 12% 0);
  }
  96% {
    -webkit-clip-path: inset(16% 0 72% 0);
            clip-path: inset(16% 0 72% 0);
  }
  100% {
    -webkit-clip-path: inset(33% 0 21% 0);
            clip-path: inset(33% 0 21% 0);
  }
}

@keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(57% 0 34% 0);
            clip-path: inset(57% 0 34% 0);
  }
  4% {
    -webkit-clip-path: inset(32% 0 18% 0);
            clip-path: inset(32% 0 18% 0);
  }
  8% {
    -webkit-clip-path: inset(49% 0 1% 0);
            clip-path: inset(49% 0 1% 0);
  }
  12% {
    -webkit-clip-path: inset(49% 0 17% 0);
            clip-path: inset(49% 0 17% 0);
  }
  16% {
    -webkit-clip-path: inset(74% 0 18% 0);
            clip-path: inset(74% 0 18% 0);
  }
  20% {
    -webkit-clip-path: inset(61% 0 34% 0);
            clip-path: inset(61% 0 34% 0);
  }
  24% {
    -webkit-clip-path: inset(78% 0 3% 0);
            clip-path: inset(78% 0 3% 0);
  }
  28% {
    -webkit-clip-path: inset(61% 0 27% 0);
            clip-path: inset(61% 0 27% 0);
  }
  32% {
    -webkit-clip-path: inset(15% 0 26% 0);
            clip-path: inset(15% 0 26% 0);
  }
  36% {
    -webkit-clip-path: inset(78% 0 9% 0);
            clip-path: inset(78% 0 9% 0);
  }
  40% {
    -webkit-clip-path: inset(39% 0 27% 0);
            clip-path: inset(39% 0 27% 0);
  }
  44% {
    -webkit-clip-path: inset(85% 0 4% 0);
            clip-path: inset(85% 0 4% 0);
  }
  48% {
    -webkit-clip-path: inset(10% 0 22% 0);
            clip-path: inset(10% 0 22% 0);
  }
  52% {
    -webkit-clip-path: inset(60% 0 26% 0);
            clip-path: inset(60% 0 26% 0);
  }
  56% {
    -webkit-clip-path: inset(73% 0 26% 0);
            clip-path: inset(73% 0 26% 0);
  }
  60% {
    -webkit-clip-path: inset(1% 0 67% 0);
            clip-path: inset(1% 0 67% 0);
  }
  64% {
    -webkit-clip-path: inset(5% 0 6% 0);
            clip-path: inset(5% 0 6% 0);
  }
  68% {
    -webkit-clip-path: inset(41% 0 52% 0);
            clip-path: inset(41% 0 52% 0);
  }
  72% {
    -webkit-clip-path: inset(19% 0 64% 0);
            clip-path: inset(19% 0 64% 0);
  }
  76% {
    -webkit-clip-path: inset(28% 0 47% 0);
            clip-path: inset(28% 0 47% 0);
  }
  80% {
    -webkit-clip-path: inset(62% 0 28% 0);
            clip-path: inset(62% 0 28% 0);
  }
  84% {
    -webkit-clip-path: inset(67% 0 34% 0);
            clip-path: inset(67% 0 34% 0);
  }
  88% {
    -webkit-clip-path: inset(49% 0 43% 0);
            clip-path: inset(49% 0 43% 0);
  }
  92% {
    -webkit-clip-path: inset(84% 0 12% 0);
            clip-path: inset(84% 0 12% 0);
  }
  96% {
    -webkit-clip-path: inset(16% 0 72% 0);
            clip-path: inset(16% 0 72% 0);
  }
  100% {
    -webkit-clip-path: inset(33% 0 21% 0);
            clip-path: inset(33% 0 21% 0);
  }
}
/*# sourceMappingURL=style.css.map */