body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
}

body h1 {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-family: 'Raleway Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 140px;
}

body h1:after, body h1:before {
  content: 'Glitch Effect';
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}

body h1:after {
  left: 2px;
  text-shadow: -1px 0 #ff1b1b;
  -webkit-animation: glitch1 2s infinite ease;
          animation: glitch1 2s infinite ease;
}

body h1:before {
  left: -2px;
  text-shadow: 1px 0 #2124ff;
  -webkit-animation: glitch2 10s infinite ease;
          animation: glitch2 10s infinite ease;
}

@-webkit-keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(81% 0 18% 0);
            clip-path: inset(81% 0 18% 0);
  }
  4% {
    -webkit-clip-path: inset(31% 0 41% 0);
            clip-path: inset(31% 0 41% 0);
  }
  8% {
    -webkit-clip-path: inset(85% 0 16% 0);
            clip-path: inset(85% 0 16% 0);
  }
  12% {
    -webkit-clip-path: inset(42% 0 7% 0);
            clip-path: inset(42% 0 7% 0);
  }
  16% {
    -webkit-clip-path: inset(58% 0 21% 0);
            clip-path: inset(58% 0 21% 0);
  }
  20% {
    -webkit-clip-path: inset(82% 0 16% 0);
            clip-path: inset(82% 0 16% 0);
  }
  24% {
    -webkit-clip-path: inset(52% 0 28% 0);
            clip-path: inset(52% 0 28% 0);
  }
  28% {
    -webkit-clip-path: inset(5% 0 95% 0);
            clip-path: inset(5% 0 95% 0);
  }
  32% {
    -webkit-clip-path: inset(77% 0 19% 0);
            clip-path: inset(77% 0 19% 0);
  }
  36% {
    -webkit-clip-path: inset(45% 0 32% 0);
            clip-path: inset(45% 0 32% 0);
  }
  40% {
    -webkit-clip-path: inset(57% 0 10% 0);
            clip-path: inset(57% 0 10% 0);
  }
  44% {
    -webkit-clip-path: inset(71% 0 18% 0);
            clip-path: inset(71% 0 18% 0);
  }
  48% {
    -webkit-clip-path: inset(86% 0 6% 0);
            clip-path: inset(86% 0 6% 0);
  }
  52% {
    -webkit-clip-path: inset(53% 0 26% 0);
            clip-path: inset(53% 0 26% 0);
  }
  56% {
    -webkit-clip-path: inset(5% 0 30% 0);
            clip-path: inset(5% 0 30% 0);
  }
  60% {
    -webkit-clip-path: inset(90% 0 8% 0);
            clip-path: inset(90% 0 8% 0);
  }
  64% {
    -webkit-clip-path: inset(32% 0 44% 0);
            clip-path: inset(32% 0 44% 0);
  }
  68% {
    -webkit-clip-path: inset(97% 0 2% 0);
            clip-path: inset(97% 0 2% 0);
  }
  72% {
    -webkit-clip-path: inset(76% 0 6% 0);
            clip-path: inset(76% 0 6% 0);
  }
  76% {
    -webkit-clip-path: inset(41% 0 40% 0);
            clip-path: inset(41% 0 40% 0);
  }
  80% {
    -webkit-clip-path: inset(24% 0 51% 0);
            clip-path: inset(24% 0 51% 0);
  }
  84% {
    -webkit-clip-path: inset(27% 0 40% 0);
            clip-path: inset(27% 0 40% 0);
  }
  88% {
    -webkit-clip-path: inset(51% 0 36% 0);
            clip-path: inset(51% 0 36% 0);
  }
  92% {
    -webkit-clip-path: inset(56% 0 7% 0);
            clip-path: inset(56% 0 7% 0);
  }
  96% {
    -webkit-clip-path: inset(51% 0 1% 0);
            clip-path: inset(51% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(82% 0 9% 0);
            clip-path: inset(82% 0 9% 0);
  }
}

@keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(81% 0 18% 0);
            clip-path: inset(81% 0 18% 0);
  }
  4% {
    -webkit-clip-path: inset(31% 0 41% 0);
            clip-path: inset(31% 0 41% 0);
  }
  8% {
    -webkit-clip-path: inset(85% 0 16% 0);
            clip-path: inset(85% 0 16% 0);
  }
  12% {
    -webkit-clip-path: inset(42% 0 7% 0);
            clip-path: inset(42% 0 7% 0);
  }
  16% {
    -webkit-clip-path: inset(58% 0 21% 0);
            clip-path: inset(58% 0 21% 0);
  }
  20% {
    -webkit-clip-path: inset(82% 0 16% 0);
            clip-path: inset(82% 0 16% 0);
  }
  24% {
    -webkit-clip-path: inset(52% 0 28% 0);
            clip-path: inset(52% 0 28% 0);
  }
  28% {
    -webkit-clip-path: inset(5% 0 95% 0);
            clip-path: inset(5% 0 95% 0);
  }
  32% {
    -webkit-clip-path: inset(77% 0 19% 0);
            clip-path: inset(77% 0 19% 0);
  }
  36% {
    -webkit-clip-path: inset(45% 0 32% 0);
            clip-path: inset(45% 0 32% 0);
  }
  40% {
    -webkit-clip-path: inset(57% 0 10% 0);
            clip-path: inset(57% 0 10% 0);
  }
  44% {
    -webkit-clip-path: inset(71% 0 18% 0);
            clip-path: inset(71% 0 18% 0);
  }
  48% {
    -webkit-clip-path: inset(86% 0 6% 0);
            clip-path: inset(86% 0 6% 0);
  }
  52% {
    -webkit-clip-path: inset(53% 0 26% 0);
            clip-path: inset(53% 0 26% 0);
  }
  56% {
    -webkit-clip-path: inset(5% 0 30% 0);
            clip-path: inset(5% 0 30% 0);
  }
  60% {
    -webkit-clip-path: inset(90% 0 8% 0);
            clip-path: inset(90% 0 8% 0);
  }
  64% {
    -webkit-clip-path: inset(32% 0 44% 0);
            clip-path: inset(32% 0 44% 0);
  }
  68% {
    -webkit-clip-path: inset(97% 0 2% 0);
            clip-path: inset(97% 0 2% 0);
  }
  72% {
    -webkit-clip-path: inset(76% 0 6% 0);
            clip-path: inset(76% 0 6% 0);
  }
  76% {
    -webkit-clip-path: inset(41% 0 40% 0);
            clip-path: inset(41% 0 40% 0);
  }
  80% {
    -webkit-clip-path: inset(24% 0 51% 0);
            clip-path: inset(24% 0 51% 0);
  }
  84% {
    -webkit-clip-path: inset(27% 0 40% 0);
            clip-path: inset(27% 0 40% 0);
  }
  88% {
    -webkit-clip-path: inset(51% 0 36% 0);
            clip-path: inset(51% 0 36% 0);
  }
  92% {
    -webkit-clip-path: inset(56% 0 7% 0);
            clip-path: inset(56% 0 7% 0);
  }
  96% {
    -webkit-clip-path: inset(51% 0 1% 0);
            clip-path: inset(51% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(82% 0 9% 0);
            clip-path: inset(82% 0 9% 0);
  }
}

@-webkit-keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(53% 0 48% 0);
            clip-path: inset(53% 0 48% 0);
  }
  4% {
    -webkit-clip-path: inset(43% 0 2% 0);
            clip-path: inset(43% 0 2% 0);
  }
  8% {
    -webkit-clip-path: inset(6% 0 29% 0);
            clip-path: inset(6% 0 29% 0);
  }
  12% {
    -webkit-clip-path: inset(64% 0 30% 0);
            clip-path: inset(64% 0 30% 0);
  }
  16% {
    -webkit-clip-path: inset(70% 0 2% 0);
            clip-path: inset(70% 0 2% 0);
  }
  20% {
    -webkit-clip-path: inset(13% 0 41% 0);
            clip-path: inset(13% 0 41% 0);
  }
  24% {
    -webkit-clip-path: inset(15% 0 81% 0);
            clip-path: inset(15% 0 81% 0);
  }
  28% {
    -webkit-clip-path: inset(99% 0 1% 0);
            clip-path: inset(99% 0 1% 0);
  }
  32% {
    -webkit-clip-path: inset(32% 0 8% 0);
            clip-path: inset(32% 0 8% 0);
  }
  36% {
    -webkit-clip-path: inset(74% 0 17% 0);
            clip-path: inset(74% 0 17% 0);
  }
  40% {
    -webkit-clip-path: inset(69% 0 4% 0);
            clip-path: inset(69% 0 4% 0);
  }
  44% {
    -webkit-clip-path: inset(94% 0 6% 0);
            clip-path: inset(94% 0 6% 0);
  }
  48% {
    -webkit-clip-path: inset(71% 0 19% 0);
            clip-path: inset(71% 0 19% 0);
  }
  52% {
    -webkit-clip-path: inset(3% 0 19% 0);
            clip-path: inset(3% 0 19% 0);
  }
  56% {
    -webkit-clip-path: inset(46% 0 41% 0);
            clip-path: inset(46% 0 41% 0);
  }
  60% {
    -webkit-clip-path: inset(64% 0 3% 0);
            clip-path: inset(64% 0 3% 0);
  }
  64% {
    -webkit-clip-path: inset(23% 0 63% 0);
            clip-path: inset(23% 0 63% 0);
  }
  68% {
    -webkit-clip-path: inset(57% 0 3% 0);
            clip-path: inset(57% 0 3% 0);
  }
  72% {
    -webkit-clip-path: inset(38% 0 55% 0);
            clip-path: inset(38% 0 55% 0);
  }
  76% {
    -webkit-clip-path: inset(55% 0 18% 0);
            clip-path: inset(55% 0 18% 0);
  }
  80% {
    -webkit-clip-path: inset(30% 0 4% 0);
            clip-path: inset(30% 0 4% 0);
  }
  84% {
    -webkit-clip-path: inset(5% 0 54% 0);
            clip-path: inset(5% 0 54% 0);
  }
  88% {
    -webkit-clip-path: inset(60% 0 17% 0);
            clip-path: inset(60% 0 17% 0);
  }
  92% {
    -webkit-clip-path: inset(19% 0 50% 0);
            clip-path: inset(19% 0 50% 0);
  }
  96% {
    -webkit-clip-path: inset(10% 0 13% 0);
            clip-path: inset(10% 0 13% 0);
  }
  100% {
    -webkit-clip-path: inset(68% 0 14% 0);
            clip-path: inset(68% 0 14% 0);
  }
}

@keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(53% 0 48% 0);
            clip-path: inset(53% 0 48% 0);
  }
  4% {
    -webkit-clip-path: inset(43% 0 2% 0);
            clip-path: inset(43% 0 2% 0);
  }
  8% {
    -webkit-clip-path: inset(6% 0 29% 0);
            clip-path: inset(6% 0 29% 0);
  }
  12% {
    -webkit-clip-path: inset(64% 0 30% 0);
            clip-path: inset(64% 0 30% 0);
  }
  16% {
    -webkit-clip-path: inset(70% 0 2% 0);
            clip-path: inset(70% 0 2% 0);
  }
  20% {
    -webkit-clip-path: inset(13% 0 41% 0);
            clip-path: inset(13% 0 41% 0);
  }
  24% {
    -webkit-clip-path: inset(15% 0 81% 0);
            clip-path: inset(15% 0 81% 0);
  }
  28% {
    -webkit-clip-path: inset(99% 0 1% 0);
            clip-path: inset(99% 0 1% 0);
  }
  32% {
    -webkit-clip-path: inset(32% 0 8% 0);
            clip-path: inset(32% 0 8% 0);
  }
  36% {
    -webkit-clip-path: inset(74% 0 17% 0);
            clip-path: inset(74% 0 17% 0);
  }
  40% {
    -webkit-clip-path: inset(69% 0 4% 0);
            clip-path: inset(69% 0 4% 0);
  }
  44% {
    -webkit-clip-path: inset(94% 0 6% 0);
            clip-path: inset(94% 0 6% 0);
  }
  48% {
    -webkit-clip-path: inset(71% 0 19% 0);
            clip-path: inset(71% 0 19% 0);
  }
  52% {
    -webkit-clip-path: inset(3% 0 19% 0);
            clip-path: inset(3% 0 19% 0);
  }
  56% {
    -webkit-clip-path: inset(46% 0 41% 0);
            clip-path: inset(46% 0 41% 0);
  }
  60% {
    -webkit-clip-path: inset(64% 0 3% 0);
            clip-path: inset(64% 0 3% 0);
  }
  64% {
    -webkit-clip-path: inset(23% 0 63% 0);
            clip-path: inset(23% 0 63% 0);
  }
  68% {
    -webkit-clip-path: inset(57% 0 3% 0);
            clip-path: inset(57% 0 3% 0);
  }
  72% {
    -webkit-clip-path: inset(38% 0 55% 0);
            clip-path: inset(38% 0 55% 0);
  }
  76% {
    -webkit-clip-path: inset(55% 0 18% 0);
            clip-path: inset(55% 0 18% 0);
  }
  80% {
    -webkit-clip-path: inset(30% 0 4% 0);
            clip-path: inset(30% 0 4% 0);
  }
  84% {
    -webkit-clip-path: inset(5% 0 54% 0);
            clip-path: inset(5% 0 54% 0);
  }
  88% {
    -webkit-clip-path: inset(60% 0 17% 0);
            clip-path: inset(60% 0 17% 0);
  }
  92% {
    -webkit-clip-path: inset(19% 0 50% 0);
            clip-path: inset(19% 0 50% 0);
  }
  96% {
    -webkit-clip-path: inset(10% 0 13% 0);
            clip-path: inset(10% 0 13% 0);
  }
  100% {
    -webkit-clip-path: inset(68% 0 14% 0);
            clip-path: inset(68% 0 14% 0);
  }
}
/*# sourceMappingURL=style.css.map */