body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
}

body h1 {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-family: 'Raleway Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 140px;
}

body h1:after, body h1:before {
  content: 'Glitch Effect';
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}

body h1:after {
  left: 2px;
  text-shadow: -1px 0 #ff1b1b;
  -webkit-animation: glitch1 2s infinite ease;
          animation: glitch1 2s infinite ease;
}

body h1:before {
  left: -2px;
  text-shadow: 1px 0 #2124ff;
  -webkit-animation: glitch2 10s infinite ease;
          animation: glitch2 10s infinite ease;
}

@-webkit-keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(51% 0 28% 0);
            clip-path: inset(51% 0 28% 0);
  }
  4% {
    -webkit-clip-path: inset(100% 0 1% 0);
            clip-path: inset(100% 0 1% 0);
  }
  8% {
    -webkit-clip-path: inset(4% 0 21% 0);
            clip-path: inset(4% 0 21% 0);
  }
  12% {
    -webkit-clip-path: inset(88% 0 6% 0);
            clip-path: inset(88% 0 6% 0);
  }
  16% {
    -webkit-clip-path: inset(10% 0 42% 0);
            clip-path: inset(10% 0 42% 0);
  }
  20% {
    -webkit-clip-path: inset(91% 0 4% 0);
            clip-path: inset(91% 0 4% 0);
  }
  24% {
    -webkit-clip-path: inset(6% 0 30% 0);
            clip-path: inset(6% 0 30% 0);
  }
  28% {
    -webkit-clip-path: inset(39% 0 41% 0);
            clip-path: inset(39% 0 41% 0);
  }
  32% {
    -webkit-clip-path: inset(58% 0 37% 0);
            clip-path: inset(58% 0 37% 0);
  }
  36% {
    -webkit-clip-path: inset(66% 0 4% 0);
            clip-path: inset(66% 0 4% 0);
  }
  40% {
    -webkit-clip-path: inset(87% 0 12% 0);
            clip-path: inset(87% 0 12% 0);
  }
  44% {
    -webkit-clip-path: inset(39% 0 39% 0);
            clip-path: inset(39% 0 39% 0);
  }
  48% {
    -webkit-clip-path: inset(46% 0 10% 0);
            clip-path: inset(46% 0 10% 0);
  }
  52% {
    -webkit-clip-path: inset(84% 0 2% 0);
            clip-path: inset(84% 0 2% 0);
  }
  56% {
    -webkit-clip-path: inset(84% 0 16% 0);
            clip-path: inset(84% 0 16% 0);
  }
  60% {
    -webkit-clip-path: inset(64% 0 25% 0);
            clip-path: inset(64% 0 25% 0);
  }
  64% {
    -webkit-clip-path: inset(63% 0 3% 0);
            clip-path: inset(63% 0 3% 0);
  }
  68% {
    -webkit-clip-path: inset(76% 0 9% 0);
            clip-path: inset(76% 0 9% 0);
  }
  72% {
    -webkit-clip-path: inset(29% 0 9% 0);
            clip-path: inset(29% 0 9% 0);
  }
  76% {
    -webkit-clip-path: inset(95% 0 2% 0);
            clip-path: inset(95% 0 2% 0);
  }
  80% {
    -webkit-clip-path: inset(4% 0 80% 0);
            clip-path: inset(4% 0 80% 0);
  }
  84% {
    -webkit-clip-path: inset(19% 0 71% 0);
            clip-path: inset(19% 0 71% 0);
  }
  88% {
    -webkit-clip-path: inset(51% 0 44% 0);
            clip-path: inset(51% 0 44% 0);
  }
  92% {
    -webkit-clip-path: inset(11% 0 90% 0);
            clip-path: inset(11% 0 90% 0);
  }
  96% {
    -webkit-clip-path: inset(95% 0 1% 0);
            clip-path: inset(95% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(60% 0 39% 0);
            clip-path: inset(60% 0 39% 0);
  }
}

@keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(51% 0 28% 0);
            clip-path: inset(51% 0 28% 0);
  }
  4% {
    -webkit-clip-path: inset(100% 0 1% 0);
            clip-path: inset(100% 0 1% 0);
  }
  8% {
    -webkit-clip-path: inset(4% 0 21% 0);
            clip-path: inset(4% 0 21% 0);
  }
  12% {
    -webkit-clip-path: inset(88% 0 6% 0);
            clip-path: inset(88% 0 6% 0);
  }
  16% {
    -webkit-clip-path: inset(10% 0 42% 0);
            clip-path: inset(10% 0 42% 0);
  }
  20% {
    -webkit-clip-path: inset(91% 0 4% 0);
            clip-path: inset(91% 0 4% 0);
  }
  24% {
    -webkit-clip-path: inset(6% 0 30% 0);
            clip-path: inset(6% 0 30% 0);
  }
  28% {
    -webkit-clip-path: inset(39% 0 41% 0);
            clip-path: inset(39% 0 41% 0);
  }
  32% {
    -webkit-clip-path: inset(58% 0 37% 0);
            clip-path: inset(58% 0 37% 0);
  }
  36% {
    -webkit-clip-path: inset(66% 0 4% 0);
            clip-path: inset(66% 0 4% 0);
  }
  40% {
    -webkit-clip-path: inset(87% 0 12% 0);
            clip-path: inset(87% 0 12% 0);
  }
  44% {
    -webkit-clip-path: inset(39% 0 39% 0);
            clip-path: inset(39% 0 39% 0);
  }
  48% {
    -webkit-clip-path: inset(46% 0 10% 0);
            clip-path: inset(46% 0 10% 0);
  }
  52% {
    -webkit-clip-path: inset(84% 0 2% 0);
            clip-path: inset(84% 0 2% 0);
  }
  56% {
    -webkit-clip-path: inset(84% 0 16% 0);
            clip-path: inset(84% 0 16% 0);
  }
  60% {
    -webkit-clip-path: inset(64% 0 25% 0);
            clip-path: inset(64% 0 25% 0);
  }
  64% {
    -webkit-clip-path: inset(63% 0 3% 0);
            clip-path: inset(63% 0 3% 0);
  }
  68% {
    -webkit-clip-path: inset(76% 0 9% 0);
            clip-path: inset(76% 0 9% 0);
  }
  72% {
    -webkit-clip-path: inset(29% 0 9% 0);
            clip-path: inset(29% 0 9% 0);
  }
  76% {
    -webkit-clip-path: inset(95% 0 2% 0);
            clip-path: inset(95% 0 2% 0);
  }
  80% {
    -webkit-clip-path: inset(4% 0 80% 0);
            clip-path: inset(4% 0 80% 0);
  }
  84% {
    -webkit-clip-path: inset(19% 0 71% 0);
            clip-path: inset(19% 0 71% 0);
  }
  88% {
    -webkit-clip-path: inset(51% 0 44% 0);
            clip-path: inset(51% 0 44% 0);
  }
  92% {
    -webkit-clip-path: inset(11% 0 90% 0);
            clip-path: inset(11% 0 90% 0);
  }
  96% {
    -webkit-clip-path: inset(95% 0 1% 0);
            clip-path: inset(95% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(60% 0 39% 0);
            clip-path: inset(60% 0 39% 0);
  }
}

@-webkit-keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(91% 0 9% 0);
            clip-path: inset(91% 0 9% 0);
  }
  4% {
    -webkit-clip-path: inset(58% 0 14% 0);
            clip-path: inset(58% 0 14% 0);
  }
  8% {
    -webkit-clip-path: inset(14% 0 87% 0);
            clip-path: inset(14% 0 87% 0);
  }
  12% {
    -webkit-clip-path: inset(97% 0 1% 0);
            clip-path: inset(97% 0 1% 0);
  }
  16% {
    -webkit-clip-path: inset(71% 0 24% 0);
            clip-path: inset(71% 0 24% 0);
  }
  20% {
    -webkit-clip-path: inset(98% 0 1% 0);
            clip-path: inset(98% 0 1% 0);
  }
  24% {
    -webkit-clip-path: inset(33% 0 10% 0);
            clip-path: inset(33% 0 10% 0);
  }
  28% {
    -webkit-clip-path: inset(10% 0 20% 0);
            clip-path: inset(10% 0 20% 0);
  }
  32% {
    -webkit-clip-path: inset(77% 0 22% 0);
            clip-path: inset(77% 0 22% 0);
  }
  36% {
    -webkit-clip-path: inset(66% 0 14% 0);
            clip-path: inset(66% 0 14% 0);
  }
  40% {
    -webkit-clip-path: inset(29% 0 43% 0);
            clip-path: inset(29% 0 43% 0);
  }
  44% {
    -webkit-clip-path: inset(86% 0 14% 0);
            clip-path: inset(86% 0 14% 0);
  }
  48% {
    -webkit-clip-path: inset(65% 0 30% 0);
            clip-path: inset(65% 0 30% 0);
  }
  52% {
    -webkit-clip-path: inset(13% 0 36% 0);
            clip-path: inset(13% 0 36% 0);
  }
  56% {
    -webkit-clip-path: inset(3% 0 40% 0);
            clip-path: inset(3% 0 40% 0);
  }
  60% {
    -webkit-clip-path: inset(38% 0 14% 0);
            clip-path: inset(38% 0 14% 0);
  }
  64% {
    -webkit-clip-path: inset(61% 0 40% 0);
            clip-path: inset(61% 0 40% 0);
  }
  68% {
    -webkit-clip-path: inset(81% 0 2% 0);
            clip-path: inset(81% 0 2% 0);
  }
  72% {
    -webkit-clip-path: inset(27% 0 43% 0);
            clip-path: inset(27% 0 43% 0);
  }
  76% {
    -webkit-clip-path: inset(8% 0 93% 0);
            clip-path: inset(8% 0 93% 0);
  }
  80% {
    -webkit-clip-path: inset(81% 0 6% 0);
            clip-path: inset(81% 0 6% 0);
  }
  84% {
    -webkit-clip-path: inset(42% 0 28% 0);
            clip-path: inset(42% 0 28% 0);
  }
  88% {
    -webkit-clip-path: inset(98% 0 3% 0);
            clip-path: inset(98% 0 3% 0);
  }
  92% {
    -webkit-clip-path: inset(39% 0 59% 0);
            clip-path: inset(39% 0 59% 0);
  }
  96% {
    -webkit-clip-path: inset(77% 0 23% 0);
            clip-path: inset(77% 0 23% 0);
  }
  100% {
    -webkit-clip-path: inset(3% 0 61% 0);
            clip-path: inset(3% 0 61% 0);
  }
}

@keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(91% 0 9% 0);
            clip-path: inset(91% 0 9% 0);
  }
  4% {
    -webkit-clip-path: inset(58% 0 14% 0);
            clip-path: inset(58% 0 14% 0);
  }
  8% {
    -webkit-clip-path: inset(14% 0 87% 0);
            clip-path: inset(14% 0 87% 0);
  }
  12% {
    -webkit-clip-path: inset(97% 0 1% 0);
            clip-path: inset(97% 0 1% 0);
  }
  16% {
    -webkit-clip-path: inset(71% 0 24% 0);
            clip-path: inset(71% 0 24% 0);
  }
  20% {
    -webkit-clip-path: inset(98% 0 1% 0);
            clip-path: inset(98% 0 1% 0);
  }
  24% {
    -webkit-clip-path: inset(33% 0 10% 0);
            clip-path: inset(33% 0 10% 0);
  }
  28% {
    -webkit-clip-path: inset(10% 0 20% 0);
            clip-path: inset(10% 0 20% 0);
  }
  32% {
    -webkit-clip-path: inset(77% 0 22% 0);
            clip-path: inset(77% 0 22% 0);
  }
  36% {
    -webkit-clip-path: inset(66% 0 14% 0);
            clip-path: inset(66% 0 14% 0);
  }
  40% {
    -webkit-clip-path: inset(29% 0 43% 0);
            clip-path: inset(29% 0 43% 0);
  }
  44% {
    -webkit-clip-path: inset(86% 0 14% 0);
            clip-path: inset(86% 0 14% 0);
  }
  48% {
    -webkit-clip-path: inset(65% 0 30% 0);
            clip-path: inset(65% 0 30% 0);
  }
  52% {
    -webkit-clip-path: inset(13% 0 36% 0);
            clip-path: inset(13% 0 36% 0);
  }
  56% {
    -webkit-clip-path: inset(3% 0 40% 0);
            clip-path: inset(3% 0 40% 0);
  }
  60% {
    -webkit-clip-path: inset(38% 0 14% 0);
            clip-path: inset(38% 0 14% 0);
  }
  64% {
    -webkit-clip-path: inset(61% 0 40% 0);
            clip-path: inset(61% 0 40% 0);
  }
  68% {
    -webkit-clip-path: inset(81% 0 2% 0);
            clip-path: inset(81% 0 2% 0);
  }
  72% {
    -webkit-clip-path: inset(27% 0 43% 0);
            clip-path: inset(27% 0 43% 0);
  }
  76% {
    -webkit-clip-path: inset(8% 0 93% 0);
            clip-path: inset(8% 0 93% 0);
  }
  80% {
    -webkit-clip-path: inset(81% 0 6% 0);
            clip-path: inset(81% 0 6% 0);
  }
  84% {
    -webkit-clip-path: inset(42% 0 28% 0);
            clip-path: inset(42% 0 28% 0);
  }
  88% {
    -webkit-clip-path: inset(98% 0 3% 0);
            clip-path: inset(98% 0 3% 0);
  }
  92% {
    -webkit-clip-path: inset(39% 0 59% 0);
            clip-path: inset(39% 0 59% 0);
  }
  96% {
    -webkit-clip-path: inset(77% 0 23% 0);
            clip-path: inset(77% 0 23% 0);
  }
  100% {
    -webkit-clip-path: inset(3% 0 61% 0);
            clip-path: inset(3% 0 61% 0);
  }
}
/*# sourceMappingURL=style.css.map */