body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.pacman {
  position: relative;
  width: 160px;
  height: 160px;
}

.pacman:before, .pacman:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid #ffd000;
  border-radius: 50%;
  border-right: 80px solid transparent;
  -webkit-animation: animate-1 linear 0.5s infinite;
          animation: animate-1 linear 0.5s infinite;
}

.pacman:after {
  -webkit-animation: animate-2 linear 0.5s infinite;
          animation: animate-2 linear 0.5s infinite;
}

.pacman div.eye {
  position: absolute;
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  top: 15%;
  right: 35%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 99;
}

.pacman div.eye:after {
  content: '';
  /*  display: block; */
  position: absolute;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(75%, -50%);
          transform: translate(75%, -50%);
  z-index: 999;
}

.pacman div.dot:nth-child(1), .pacman div.dot:nth-child(2), .pacman div.dot:nth-child(3) {
  background-color: #ffd000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -100px;
  opacity: 0;
}

.pacman div.dot:nth-child(1) {
  -webkit-animation: ball 1s 1s infinite linear;
          animation: ball 1s 1s infinite linear;
}

.pacman div.dot:nth-child(2) {
  -webkit-animation: ball 1s 0.5s infinite linear;
          animation: ball 1s 0.5s infinite linear;
}

.pacman div.dot:nth-child(3) {
  -webkit-animation: ball 1s 0s infinite linear;
          animation: ball 1s 0s infinite linear;
}

@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes animate-1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes animate-2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes ball {
  20%,
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-120px, -50%);
            transform: translate(-120px, -50%);
  }
}

@keyframes ball {
  20%,
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-120px, -50%);
            transform: translate(-120px, -50%);
  }
}
/*# sourceMappingURL=style.css.map */