body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.pacman {
  position: relative;
  width: 160px;
  height: 160px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 80px solid #ffd000;
    border-radius: 50%;
    border-right: 80px solid transparent;
    animation: animate-1 linear 0.5s infinite;
  }

  &:after {
    animation: animate-2 linear 0.5s infinite;
  }

  div.eye {
    position: absolute;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    top: 15%;
    right: 35%;
    transform: rotate(15deg);
    z-index: 99;

    &:after {
      content: '';
      /*  display: block; */
      position: absolute;
      width: 5px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      top: 50%;
      right: 50%;
      transform: translate(75%, -50%);
      z-index: 999;
    }
  }

  div.dot {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      background-color: #ffd000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -100px;
      opacity: 0;
    }

    &:nth-child(1) {
      animation: ball 1s 1s infinite linear;
    }

    &:nth-child(2) {
      animation: ball 1s 0.5s infinite linear;
    }

    &:nth-child(3) {
      animation: ball 1s 0s infinite linear;
    }
  }
}

@keyframes animate-1 {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes animate-2 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes ball {
  20%,
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-120px, -50%);
  }
}
